<footer class="bg-gray-900 text-white py-8">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 px-4">
      <!-- Sección de Información -->
      <div class="col-span-1 md:col-span-2 lg:col-span-1">
        <h3 class="text-lg font-semibold mb-4">Información</h3>
        <ul>
          <li><a href="#" class="hover:text-gray-400">Acerca de nosotros</a></li>
          <li><a href="#" class="hover:text-gray-400">Nuestros servicios</a></li>
          <li><a href="#" class="hover:text-gray-400">Contacto</a></li>
          <li><a href="#" class="hover:text-gray-400">Política de privacidad</a></li>
        </ul>
      </div>
      <!-- Sección de Categorías -->
      <div class="col-span-1 md:col-span-1">
        <h3 class="text-lg font-semibold mb-4">Categorías</h3>
        <ul>
          <li><a href="#" class="hover:text-gray-400">Clothes</a></li>
          <li><a href="#" class="hover:text-gray-400">Electronics</a></li>
          <li><a href="#" class="hover:text-gray-400">Furniture</a></li>
          <li><a href="#" class="hover:text-gray-400">Shoes</a></li>
          <li><a href="#" class="hover:text-gray-400">Miscellaneous</a></li>

        </ul>
      </div>
      <!-- Sección de Redes Sociales -->
      <div class="col-span-1 md:col-span-1">
        <h3 class="text-lg font-semibold mb-4">Redes Sociales</h3>
        <ul>
          <li><a href="#" class="hover:text-gray-400">Facebook</a></li>
          <li><a href="#" class="hover:text-gray-400">Twitter</a></li>
          <li><a href="#" class="hover:text-gray-400">Instagram</a></li>
          <li><a href="#" class="hover:text-gray-400">Pinterest</a></li>
        </ul>
      </div>
      <!-- Sección de Boletín -->
      <div class="col-span-1 md:col-span-2 lg:col-span-1">
        <h3 class="text-lg font-semibold mb-4">Boletín</h3>
        <p>Suscríbete a nuestro boletín para recibir noticias y promociones.</p>
        <form class="mt-4">
          <input type="email" placeholder="Tu correo electrónico" class="w-full bg-gray-800 text-white border border-gray-700 rounded py-2 px-3 focus:outline-none focus:border-gray-500">
          <button type="submit" class="mt-2 bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:bg-gray-700">Suscribir</button>
        </form>
      </div>
    </div>
    <div class="border-t border-gray-800 mt-8 py-4 px-4 md:px-0">
      <div class="container mx-auto text-center">
        <p>&copy; {{ currentYear }} Mi Tienda de Ropa</p>
      </div>
    </div>
  </footer>
  
